/* class */
.corpo{
    background-image: url("../HTML/pikachu.jpeg");
    background-size: cover;
    background-repeat: repeat;
}
/* id */
#title{
    text-align: center;
    font-family: 'Vibes', cursive;
    background-color: pink;
}

/* tags */
p{
    background-color: rgba(170, 0, 170, 0.418);
}

.lista{
    background-color: rgba(170, 0, 170, 0.418);
    border-width: 20px 1px 5px 10px;
    /* top - right - down - left */
    /* top/down - right/left */
}

.stephany{
    /* posicionamento no eixo Z (à frente e atrás) */
    z-index: -20;
}