@media screen and (max-width: 1330px) {
    .mod {
        display: block;
    }
}

#back_header{
    background-image: url("../resources/aurora.jpg");
    background-size: cover;
    background-position: top;
    margin: 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.center_title{
    padding: 2em;
    text-align: center;
}

header a{
    display: inline;
    margin: 20px;
    font-family: 'Grenze', serif;
    color: rgb(201, 255, 196);
    font-size: 4em;
}

header h1{
    display: inline;
    margin: 0px 20px 0px 0px;
    font-family: 'Vibes', cursive;
    font-size: 4rem;
    color: rgb(201, 255, 196);
    font-style: italic;
}

#gray_box{
    background-color: gray;
    border-radius: 10px;
    font-family: 'Grenze', serif;
    text-align: center;
    padding: 2em;
    color: whitesmoke;
}

#gray_box h1{
    font-family: 'Turret Road', cursive;
}

#gray_box h2{
    font-family: 'Turret Road', cursive;
}

#gray_box h4{
    font-family: 'Grenze', serif;
}

#subtitle{
    font-family: 'Grenze', serif;
    font-size: 2em;
}

#list_box{
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    text-align: center;
    padding: 2em;
}

#list_box p{
    display: inline;
    text-align: left;
    margin-right: 250px;
    margin-left: 0px;
    padding: .5rem;
}